.blog-posts-container{
    max-width: 95%;
    margin: auto;
    line-height: 1.6;
    padding-bottom: 20px;
    font-size: 1.13rem;
}

@media (min-width: 768px) {
   .blog-posts-container {
    max-width: 60%;
    font-size: 1.3rem;
   }
}