.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-stream{
    margin: auto;
}

.photo-post{
    display: block;
    max-width: 900px; 
    max-height: 80vh;
    padding-bottom: 10px;
}
@media (max-width: 590px) {
    .photo-post {
     max-width: 100%;
    }
 }

