.project-container{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.single-project{
    padding-bottom: 18px;
}

.proj-button {
    padding: 12px 20px;
    background-color: white;
    border-color: blue;
    color: blue;
}

.proj-button:hover{
    background-color:orange;
}