html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F5F5;
}

#root {
  min-height: 100%;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
  padding-top: 52px; /* account for fixed header */
}

h1, h2, h3, h4, h5, h6, p, li, button {
  font-family: "Lora", serif;
}

a {
  font-family: "Lora", serif;
}
