body {
    background-color: #F5F5F5;
}

.lora-reg {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
  

h1, h2, h3, h4, h5, h6, p, li {
    font-family: "Lora";
}

.blog-posts{
    max-width: 85%;
    margin: auto;
    line-height: 1.6;
    padding: 20px;
}

.photo-post{
    max-width: 100%;
    max-height: 80vh;
}