body {
    background-color: #F5F5F5;
}

.quattrocento-regular {
    font-family: "Quattrocento", serif;
    font-weight: 400;
    font-style: normal;
}

.quattrocento-bold {
    font-family: "Quattrocento", serif;
    font-weight: 700;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, li {
    font-family: "Quattrocento";
}

.photo-post{
    max-width: 100%;
    max-height: 80vh;
}