body {
    background-color: #F5F5F5;
    margin: 5px;
}

.lora-reg {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
  

h1, h2, h3, h4, h5, h6, p, li, button {
    font-family: "Lora";
}


.nav-item-top{
    font-size:1.6rem;
    text-decoration: underline;
    color:blue;
}

.dream-container {
    position: fixed;
    bottom: 1rem;
    right: 0.5rem;
    z-index: 100;
    pointer-events: none;
}

.dream {
    writing-mode: vertical-rl;
    white-space: nowrap;
    margin: 0;
    font-size: 0.9rem;
    opacity: 0.7;
}
